<footer class="footer-container">
  <div class="footer-content">
    <div class="logo-section">
      <a class="logo-container" href="/home">
        <img src="../../../assets/img/logo-ModLab-footer.svg" alt="Logo amarillo ModLab" class="logo" />
      </a>
    </div>

    <div class="info-section">
      <h3 class="info-section-title">Información sobre nosotros</h3>
      <ul>
        <li><a href="/about-us" class="other-pages">¿Quiénes somos?</a></li>
        <li><a href="/politica-privacidad" class="other-pages">Política de privacidad</a></li>
        <li><a href="/cookies" class="other-pages">Cookies</a></li>
      </ul>
    </div>
  </div>
</footer>
